# Logy
storage/logs/*

# Uploadnute fotky pouzivatelov
public/assets/images/uploads/articles/*
public/assets/images/uploads/players/*
public/assets/images/uploads/tournaments/*

# Composer
vendor/
composer.lock

# IDE
.vscode/
.idea/

# macOS
.DS_Store
